@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  padding: 0;
  margin: 0;
}

.header{
  justify-content: center;
}

.main {
  width: 60rem;
  height: 25rem;
  background-color: white;
  margin: 1rem;
  padding: 1rem;
}

.footer {
  justify-content: center;
}

.title {
  font-size: 50px;
  color: #ffc2ad;
  text-shadow: red 0.1em 0.1em 0.1em;
}

.description {
  font-size: 22px;
  color: #ffffff;
  text-shadow: 0 0 0.2em rgb(108, 161, 197), 0 0 0.2em rgb(108, 161, 197),0 0 0.2em rgb(108, 161, 197);
}
