@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  padding: 0;
  margin: 0;
}

.header{
  justify-content: center;
}

.main {
  width: 60rem;
  height: 25rem;
  background-color: white;
  margin: 1rem;
  padding: 1rem;
}

.footer {
  justify-content: center;
}

.title {
  font-size: 50px;
  color: #FFCCCC;
  text-shadow: red 0.2em 0.2em 0.2em;
}

.description {
  font-size: 22px;
  color: #FFFFFF;
  text-shadow: blue 0.2em 0.2em 0.2em;
}
